env/
venv/
.env/
.venv/
myvenv/
code/
db/
__pycache__/
*.py[cod]
*.class
*.log
*.pot
local_settings.py
db.sqlite3
.flake8
.pylintrc
.perttierrc.toml
pyproject.toml
**/migrations/**
!**/migrations
!**/migrations/__init__.py
note
query_debugger.py
.env
.env_example
.prettierrc.toml
entrypoint.sh
wait-for-it.sh
