{% extends "base.html" %}

{% block title %}
    Forecast weather
{% endblock title %}

{% block content %}
    <div class="container " style="height: 100vh">
        <div class="container">
            {% if request.COOKIES.last_city and request.method == 'GET' %}
                <div>Желаете посмотреть погоду в городе {{ form.city.value }}?</div>
                <br />
            {% endif %}
            <dif class="form">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    <div class="input-group mb-3">
                        {{ field }}
                        <button class="btn btn-outline-secondary" type="submit">Отправить</button>
                    </div>
                {% endfor %}
            </form>
            </dif>
            {% if forecast %}
                <div class="table">
                    <table class="table table-striped">
                        {% for date, values in forecast.items %}
                            {% ifchanged date.date %}
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan={{ values|length|add:1 }}>{{ date|date:"d.m.Y" }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Время</th>
                                        <th>Температура</th>
                                        <th>Влажность</th>
                                        <th>Осадки</th>
                                        <th>Скорость ветра</th>
                                    </tr>
                                </thead>
                            {% endifchanged %}
                            <tr>
                                <td>{{ date|time:"H:i:s" }}</td>
                                {% for value in values.values %}<td>{{ value }}</td>{% endfor %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
